.medicalHistory {
    display: flex;
    flex-direction: row;
}

.patientDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.patientPersonalDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medicalHistoryNav > nav{
    display: flex;
    flex-direction: column;
}

.medicalHistoryNav > nav > button{
    margin: 20px 0px 20px 0px;
}