.medicationHistoryElement {
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    width: 70%;
    background-color: whitesmoke;
    border: 2px solid black;
}

.medicineDetails {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}