.recordsSearched {
    width: 70%;
    margin: 10px 0px 10px 0px;
    background-color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.recordsSearched > button {
    margin-left: 85%;
}

