.updateHistory {
    width: 100%;
}

.updateHistoryNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.updateHistoryDisplay {
    margin-top: 20px;
}
